# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env / secrets
.env
.env.*

# Build / coverage
dist/
build/
coverage/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/

# Misc
.cache/
tmp/

src/shopifyTokens.json
src/selectedAddress.json
public/.vercel/
admin.tmp
cloudflared/

